{% extends "base.html" %}
{% block title %}A propos de WalHID{% endblock %}
{% block content %}

<h2>A propos de WalHID</h2>
<hr/>

<p>WalHID est un projet étudiant réalisé par des élèves en 3ème année de l'ENSEIRB-MATMECA (filière RSR) à destination de l'ANSSI. </p>
<p>L'objectif est de prendre le contrôle d'un ordinateur suite au <em>simple</em> branchement d'un téléphone en USB.</p>

<p class="alert alert-warning">Un bug ? Une fonctionnalité manquante ? WalHID est Open Source ! 
Retrouvez le dépôt sur <a href="https://github.com/vruello/anssi-project">Github</a>.</p>

<div class="embed-responsive embed-responsive-16by9 mt-5 mb-5">
<video width="320" height="240" controls>
  <source src="{{STATIC_URL}}/static/video-anssi.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>
</div>

{% endblock %}
