{% extends "base.html" %}
{% block title %}Homepage{% endblock %}
{% block content %}

    <div class="jumbotron">
        <h1 class="display-4">Welcome!</h1>
        <p class="lead">This is a simple tool to exploit the given payload.</p>
        <hr class="my-4">
        <p>First, you need to set up a listener so that this server listen for the malware request. <em>This may take a few seconds...</em></p>
        <a class="btn btn-primary btn-lg" href="{% url "init" %}" role="button">Launch the listener</a>
        <p>Toolbox: {{ flag }}</p>
    </div>



{% endblock %}
