{% extends "base.html" %}
{% block title %}Listener{% endblock %}
{% block content %}
    <h2>Lancement du listener </h2>
    <hr />

    <form id="form">
        <div class="form-group">
          <label for="">Port d'écoute</label>
          <input type="number" value="4444" class="form-control" name="lport" id="lport" aria-describedby="helpId" placeholder="">
          <small id="helpId" class="form-text text-muted">Ce port doit être celui sur lequel la payload viendra se connecter.</small>
        </div>
        <div class="form-group">
          <label for="">Type de payload</label>
          <select class="form-control" name="payload" id="payload">
            <option value="windows/x64/meterpreter/reverse_https" selected>HTTPS</option>
            <option value="windows/x64/meterpreter/reverse_tcp">TCP</option>
            <option value="windows/x64/meterpreter/reverse_http">HTTP</option>
          </select>
          <small id="helpId" class="form-text text-muted">Le type de payload doit être identique à celui choisi lors de la génération de la payload.
          </small>
        </div>
        <button type="submit" class="btn btn-primary">Lancer !</button>
    </form>

    <div id="loading" class="d-none">
        <p>Please wait while the listener is initialized. Depending of the hardware, it may takes between a few seconds and several minutes.</p>

        <div class="progress" style="height: 20px;">
            <div id="progressbar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>

    <script>
        var form = document.getElementById('form');
        var payloadInput = document.getElementById('payload');
        var lportInput = document.getElementById('lport');
        var loading = document.getElementById('loading');

        form.addEventListener('submit', function(e) {
            e.preventDefault();
            form.className = "d-none"
            loading.className = ""
            launchInitWorker(lportInput.value, payloadInput.value);

        })
        var width = 0;
        var progressbar = document.getElementById('progressbar');

        function launchInitWorker(lport, payload) {
            const req = new XMLHttpRequest();

            req.onreadystatechange = function(event) {
                // XMLHttpRequest.DONE === 4
                if (this.readyState === XMLHttpRequest.DONE) {
                    if (this.status === 200) {
                        console.log("Réponse reçue: %s", this.responseText);
                        width = 100;
                        setTimeout(redirectToJobs, 1000)
                    } else {
                        console.alert("Une erreur est survenue : %d (%s)", this.status, this.statusText);
                        form.className = ""
                        loading.className = "d-none"
                    }
                }
            };

            req.open('GET', window.location.href + '_worker?lport=' + lport + '&payload=' + payload, true);
            req.send(null);
            setInterval(updateProgressbar, 1000)

        }

        // 

        function redirectToJobs() {
            window.location.replace(window.location.protocol + '//' + window.location.host + '/jobs')
        }

        function updateProgressbar() {
            width += 10;
            progressbar.style = 'width: ' + width + '%;'
        }

        
    </script>
	
{% endblock %}