{% extends "base.html" %}
{% block title %}Jobs{% endblock %}
{% block content %}
    <h2>Active jobs </h2>
    <hr />

    {% if jobs_nbr == 0 %}
        No active job yet.
    {% else %}
      <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">info</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                {% for key,value in jobs.items %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ value.info }}</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                {% endfor %}
                
            </tbody>
        </table>
    {% endif %}

    
	
{% endblock %}