{% extends "base.html" %}
{% block title %}Jobs{% endblock %}
{% block content %}
    <h2>Active jobs </h2>
    <hr />

    {% if jobs_nbr == 0 %}
        No active job yet.
    {% else %}
      <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Type</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for key,value in jobs.items %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ value }} <a href="{% url "jobs_kill" key %}">Kill</a></td>
                    </tr>
                {% endfor %}
                
            </tbody>
        </table>
    {% endif %}

    
	
{% endblock %}