{% extends "server/session.html" %}
{% block session_content %}

<p>Vous pouvez prendre des captures d'écran de l'écran de la victime.</p>

<p class="mb-4 text-center mt-3">
	<a class="btn btn-outline-primary" href="{% url "action_webcam" id %}"><i class="fas fa-camera-retro    "></i> Prendre un snapshot de la webcam</a>
</p>

<div class="container">
				{% for i in images %}
				   <!-- Row of size 3 -->
				   {% if forloop.counter0|modulo:3 == 0 %}
					 <div class="row">
					 {% endif %}

						 <a href="{{ i }}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
							 <img src="{{ i }}" class="img-fluid rounded">
						 </a>

					 {% if forloop.counter0|modulo:3 == 2 or loop.last %}
				   </div>
					 {% endif %}
				{% endfor %}
    </div>
</div>


{% endblock %}
