{% extends "server/session.html" %}
{% block session_content %}

	<form method="GET">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Path" value="{{ pwd }}" name="path" />
				<input type="hidden" value="dir" name="type" />
				<div class="input-group-append">
				<button type="submit" class="btn btn-outline-secondary" type="button" id="button-addon2">Go!</button>
				</div>
			</div>
		</ol>
	</nav>
	</form>
	
	<div class="d-flex justify-content-between">
		<a href="?path=..&type=dir" class="btn btn-light"><i class="fas fa-arrow-left"></i> Previous</a>
		<a href="{% url "session_explorer" id %}" class="btn btn-light"><i class="fas fa-redo"></i> Refresh</a>

	</div>

	<table class="table table-borderless table-hoverable">
		<thead>
			<tr>
			<th scope="col">Type</th>
			<th scope="col">Name</th>
			<th scope="col">Size</th>
			<th scope="col">Last modified</th>
			<th scope="col">Permission</th>
			<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			{% for file in files %}
        			<tr >
					<td>{% if file.type == 'dir' %}<i class="fas fa-folder"></i>{% else %}<i class="far fa-file"></i>{% endif %}</td>
					<td><a href="?path={{ file.urlencoded_name }}&type={{ file.type }}">{{ file.name }}</a></td> 
					<td>{{ file.size }} B</td> 
					<td>{{ file.last_modified }} {{ file.hour }}</td> 
					<td>{{ file.permission }}</td> 
					<td><a href="?path={{ file.urlencoded_name }}&type={{ file.type }}&delete=1" class="text-danger"><i class="fas fa-trash"></i></a></td>
				</tr>
			{% endfor %}
			
		</tbody>
	</table>
	

	<hr/>

	<h5>Upload a file</h5>

	<form action="" enctype="multipart/form-data" method="POST">
		{% csrf_token %}
		<input type="file" id="file" name="file" />
		<input type="submit" class="btn btn-secondary" value="Upload" />
	</form>


{% endblock %}
