{% extends "server/session.html" %}
{% block session_content %}


	{% if have_uploaded and have_uploaded_successfully %}
	<div class="alert alert-success" role="alert">
		Le fichier a été uploadé avec succès.
	</div>
	{% elif have_uploaded %}
	<div class="alert alert-danger" role="alert">
		Une erreur est survenue durant l'upload. Cela peut être du à un problème de droits d'écriture.
	</div>
	{% endif %}

	<form method="GET">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Path" value="{{ pwd }}" name="path" />
				<input type="hidden" value="dir" name="type" />
				<div class="input-group-append">
				<button type="submit" class="btn btn-outline-secondary" type="button" id="button-addon2">Go!</button>
				</div>
			</div>
		</ol>
	</nav>
	</form>

	<div class="d-flex justify-content-between">
		<a href="?path=..&type=dir" class="btn btn-light"><i class="fas fa-arrow-left"></i> Précédent</a>
		<a href="{% url "session_explorer" id %}" class="btn btn-light"><i class="fas fa-redo"></i> Actualiser</a>
	</div>

	
	<table class="table table-borderless table-hoverable">
		<thead>
			<tr>
			<th scope="col">Type</th>
			<th scope="col">Name</th>
			<th scope="col">Size</th>
			<th scope="col">Last modified</th>
			<th scope="col">Permission</th>
			<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			{% for file in files %}
				<tr >
					<td>{% if file.type == 'dir' %}<i class="fas fa-folder"></i>{% else %}<i class="far fa-file"></i>{% endif %}</td>
					<td><a href="?path={{ file.urlencoded_name }}&type={{ file.type }}">{{ file.name }}</a></td>
					<td>{{ file.size }} B</td>
					<td>{{ file.last_modified }} {{ file.hour }}</td>
					<td>{{ file.permission }}</td>
					<td><a href="?path={{ file.urlencoded_name }}&type={{ file.type }}&delete=1" class="text-danger"><i class="fas fa-trash"></i></a></td>
				</tr>
			{% endfor %}

		</tbody>
	</table>
	
	{% if ls_error %}
	<div class="alert alert-danger" role="alert">
		Une erreur est survenue lors de la récupération des fichiers. Cela peut être du à des droits d'accès insuffisant.<br/>
		Cliquez sur <a href="?path=..&type=dir">Précédent</a> pour revenir au répertoire précédent.
	</div>
	{% endif %}


	<hr/>

	<h5>Upload a file</h5>

	<form action="" enctype="multipart/form-data" method="POST">
		{% csrf_token %}
		<input type="file" id="file" name="file" />
		<input type="submit" class="btn btn-secondary" value="Upload" />
	</form>


{% endblock %}
