{% extends "base.html" %}
{% block title %}Session {{ id }}{% endblock %}
{% block content %}
	<p class="float-right">
		<a href='{% url "session_close" id %}' class="btn btn-danger">Fermer la session</a>
	</p>
	<h2>Session {{ id }} </h2>
	<hr/>
	

	<ul class="nav nav-tabs mb-4">
		<li class="nav-item">
			{% url "session_information" id as session_information_url %}
			<a class="nav-link {% if request.get_full_path == session_information_url %}active{% endif %}" href="{% url "session_information" id %}"><i class="fas fa-info-circle    "></i> Système</a>
		</li>
		<li class="nav-item">
			{% url "session_explorer" id as session_explorer_url %}
			<a class="nav-link {% if request.get_full_path == session_explorer_url %}active{% endif %}" href="{% url "session_explorer" id %}"><i class="fas fa-folder-open    "></i> Explorateur de fichiers</a>
		</li>
		<li class="nav-item">
			{% url "session_screenshot" id as session_screenshot_url %}
			<a class="nav-link {% if request.get_full_path == session_screenshot_url %}active{% endif %}" href="{% url "session_screenshot" id %}"><i class="fas fa-camera    "></i> Capture d'écran</a>
		</li>
		<!-- <li class="nav-item">
			{% url "session_webcam" id as session_webcam_url %}
			<a class="nav-link {% if request.get_full_path == session_webcam_url %}active{% endif %}" href="{% url "session_webcam" id %}"><i class="fas fa-video"></i> Webcam</a>
		</li> -->
		<li class="nav-item dropdown">
			{% url "session_webcam" id as session_webcam_url %}
			{% url "session_live" id as session_live_url %}
			<a class="nav-link dropdown-toggle {% if request.get_full_path == session_webcam_url or request.get_full_path == session_live_url%}active{% endif %}" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-video"></i>  Webcam</a>
			<div class="dropdown-menu">
				<a class="dropdown-item {% if request.get_full_path == session_webcam_url %}active{% endif %}" href="{% url "session_webcam" id %}"><i class="fas fa-image    "></i>  Photos</a>
				<a class="dropdown-item {% if request.get_full_path == session_live_url %}active{% endif %}" href="{% url "session_live" id %}"><i class="fas fa-circle text-danger   "></i> Direct</a>
			</div>
		</li>

		<!-- <li class="nav-item">
			{% url "session_live" id as session_live_url %}
			<a class="nav-link {% if request.get_full_path == session_live_url %}active{% endif %}" href="{% url "session_live" id %}"><i class="fas fa-video-slash    "></i> Live</a>
		</li> -->

		<li class="nav-item">
			{% url "session_keylogger" id as session_keylogger_url %}
			<a class="nav-link {% if session_keylogger_url in request.get_full_path %}active{% endif %}" href="{% url "session_keylogger" id %}"><i class="fas fa-keyboard    "></i> Keylogger</a>
		</li>

		<li class="nav-item dropdown">
			{% url "session_passwords" id as session_passwords_url %}
			{% url "session_wifi_list" id as session_wifi_list_url %}
			<a class="nav-link dropdown-toggle {% if request.get_full_path == session_passwords_url or request.get_full_path == session_wifi_list_url%}active{% endif %}" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-lock-open"></i> Mots de passe</a>
			<div class="dropdown-menu">
				<a class="dropdown-item {% if request.get_full_path == session_passwords_url %}active{% endif %}" href="{% url "session_passwords" id %}"><i class="fab fa-windows    "></i>  Windows</a>
				<a class="dropdown-item {% if request.get_full_path == session_wifi_list_url %}active{% endif %}" href="{% url "session_wifi_list" id %}"><i class="fas fa-wifi    "></i> Réseaux wifi</a>
			</div>
		</li>

	</ul>


	{% block session_content %}

	{% endblock %}

{% endblock %}
