{% extends "base.html" %}
{% block title %}Sessions{% endblock %}
{% block content %}
    <h2>Sessions</h2>
    <hr/>


    <p>
        Chaque session représente un canal de communication avec une machine sur laquelle vous pouvez prendre le contrôle.
    </p>

    {% if sessions_nbr == 0 %}
        Vous n'avez pas de session disponible. Si vous avez mis en place un gestionnaire, une session apparaîtra lorsque le logiciel malveillant sera exécuté. Sinon, <a href="{% url "init" %}">créez un gestionnaire</a>.
    {% else %}
        <table class="table table-hover mt-5">
            <thead class="thead-light">
                <tr >
                    <th scope="col">#</th>
                    <th scope="col">Victime</th>
                    <th scope="col">Adresse victime</th>
                    <th scope="col">Tunnel local</th>
                    <th scope="col">Tunnel distant</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for key,value in sessions.items %}
                <tr class="pointer" onclick="document.location = '{% url "session" key %}';">
                        <td>{{ key }}</td>
                        <td>{{ value.info }}</td>
                        <td>{{ value.session_host}}</td>
                        <td>{{ value.tunnel_local }}</td>
                        <td>{{ value.tunnel_peer }}</td>
                        <td><a href='{% url "session_close" key %}' class="text-danger"><i class="fas fa-times-circle"></i></a></td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>

    {% endif %}

    <script>
        setTimeout(function() {
            window.location.reload();
        }, 3000);
    </script>



{% endblock %}
