<!DOCTYPE html>
<html lang="fr">
<head>
   <link rel="stylesheet" href="/media/css/style.css" />
   <title>{% block title %}Projet ANSSI{% endblock %}</title>
</head>
<body>
<header>Projet ANSSI</header>
    <nav>
       {% block nav %}
       <ul>
            <li><a href="{% url "home" %}">Home</a></li>
            <li><a href="{% url "sessions" %}">Sessions</a></li>
            <li><a href="{% url "jobs" %}">Jobs</a></li>
       </ul>
       {% endblock %}
   </nav>
   <section id="content">
       {% block content %}{% endblock %}
   </section>
<footer>&copy; RSR 18-19</footer>
</body>
</html>