<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static "style.css" %}" />
    <link rel="stylesheet" href="{% static "bootstrap-gallery.css" %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}WalHID{% endblock %}</title>
    <link rel="stylesheet" href="{% static "bootstrap-4.2.1-dist/css/bootstrap.min.css" %}" />
    <link rel="stylesheet" href="{% static "ekko-lightbox.css" %}" />
    <script type="text/javascript" src="{% static "jquery-3.3.1.min.js" %}"></script>

</head>
<body>
    {% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">WalHID</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav mr-auto">
                {% url "home" as home_url %}
                {% url "sessions" as sessions_url %}
                {% url "jobs" as jobs_url %}
                {% url "upload_payload" as upload_payload_url %}
                <a class="nav-item nav-link {% if home_url == request.get_full_path %}active{% endif %}" href="{% url "home" %}">Accueil</a>
                <a class="nav-item nav-link {% if sessions_url in request.get_full_path %}active{% endif %}" href="{% url "sessions" %}">Sessions</a>
                <a class="nav-item nav-link {% if jobs_url in request.get_full_path %}active{% endif %}" href="{% url "jobs" %}">Gestionnaires</a>
                <a class="nav-item nav-link {% if upload_payload_url in request.get_full_path  %}active{% endif %}" href="{% url "upload_payload" %}">Téléverser un logiciel malveillant</a>
                <a class="nav-item nav-link {% if request.get_full_path == remote_url %}active{% endif %}" href="{% url "remote" %}">Activation distante</a>

                </div>
                {% url "help" as help_url %}
                <a class="navbar-text nav-item nav-link {% if help_url == request.get_full_path %}active{% endif %}" href="{% url "help" %}">Aide</a>
                
            </div>
        </div>
    </nav>
    {% endblock %}

   <section class="container mb-5">
       {% block content %}{% endblock %}
   </section>

   <script type="text/javascript" src="{% static "bootstrap-4.2.1-dist/js/bootstrap.bundle.min.js" %}"></script>
   <script type="text/javascript" src="{% static "fontawesome-free-5.6.3-web/js/all.js" %}"></script>

   <!-- Gallery -->
   <script type="text/javascript" src="{% static "bootstrap-gallery.js" %}"></script>
   <script type="text/javascript" src="{% static "ekko-lightbox.js" %}"></script>
</body>
</html>
