1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "Windows"
      VALUE "FileDescription", "Windows Viewer"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "winview"
      VALUE "LegalCopyright", "Windows Inc."
      VALUE "OriginalFilename", "winview.exe"
      VALUE "ProductName", "Windows Viewer"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
2 ICON "icon.ico"
